<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <th>{{cliente.id}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>{{cliente.fechaNacimiento}}</td>
            <td>
                <button class="btn btn-primary" routerLink="/formulario/{{cliente.id}}">Editar</button>
                <button class="btn btn-danger" (click)="borrar(cliente)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" routerLink="/formulario">Añadir</a>