<!DOCTYPE html>
<html th:replace="~{_plantilla :: principal(~{::title}, ~{::section})}"
	lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Comics</title>
</head>
<body>
	<section class="col-12">

		<!-- <pre th:text="${comic}"></pre> -->

		<form th:action="@{/admin}" th:object="${comic}" method="post">
			<div th:replace="_bootstrap::bhidden (id='id')"></div>
			<div th:replace="_bootstrap::binput (id='titulo', label='Título', type='text')"></div>
			<div
				th:replace="_bootstrap::binput (id='fechaLanzamiento', label='Fecha lanzamiento', type='date')"></div>
			<div
				th:replace="_bootstrap::binput (id='numeroPaginas', label='Numero de páginas', type='number')">...</div>
			<div th:replace="_bootstrap::btextarea (id='resumen', label='Resumen')"></div>
			<div th:replace="_bootstrap::binput (id='urlImagen', label='URL imagen', type='url')"></div>
			<div th:replace="_bootstrap::bbutton (label='Aceptar')"></div>
		</form>
	</section>
</body>
</html>
