<!DOCTYPE html>
<html th:replace="~{_plantilla :: principal(~{::title}, ~{::section})}"
	lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Comics</title>
</head>
<body>
	<section class="col-12">
		<h1>ADMINISTRACIÓN</h1>
		

		<table class="table table-striped table-bordered table-hover table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Título</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="comic: ${comics}">
					<td th:text="${comic.id}">1</td>
					<td th:text="${comic.titulo}">Ejemplo de comic</td>
					<td>
						<a class="btn btn-primary" th:href="@{'/admin/' + ${comic.id}}"
>Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="col-12 text-right">
            <a class="btn btn-primary" href="empleado.html">Añadir</a>
        </p>
	</section>
</body>
</html>
