<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Comics</title>
</head>
<body>
	<h1 th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</h1>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Cerrar sesión" />
	</form>
	
	<a th:href="@{/logout}">Cerrar sesión</a>

	<h1>ADMINISTRACIÓN</h1>
	<table>
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Título</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="comic: ${comics}">
				<td th:text="${comic.id}" />
				<td th:text="${comic.titulo}" />
			</tr>
		</tbody>
	</table>

</body>
</html>