<!DOCTYPE html>
<html th:replace="~{_plantilla :: principal(~{::title}, ~{::section})}" lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Comics</title>
</head>
<body>

<section>
	<a href="admin">Ir a administración</a>

	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Título</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="comic: ${comics}">
				<td th:text="${comic.id}">1</td>
				<td th:text="${comic.titulo}">Ejemplo de comic</td>
			</tr>
		</tbody>
	</table>
</section>
</body>
</html>
